{% extends 'khmap/navbar_formap.html' %}
{% block content %}
<div>
<p class="text-center"><br> "<strong>{{ query }}</strong>" 검색결과 <b>{{ contents.count }}</b> 개 </p>
</div>
    {% for content in contents %}
	<div class="card searchResult">
        {% autoescape off %}
        <div class="card-body" id="searchCard">
            <h5 class="card-title col-3 col-sm-2">{{ content.locationName }}</h5>
            <p class="card-text col-6 col-sm-8 card-text-custom">
                {{ content.locationText1 }}<br>
                {{ content.locationText2 }}<br>
                {{ content.locationText3 }}<br>
                {{ content.locationText4 }}<br>
            </p>
            <a href id="{{ content.id }}" class="card-btn btn btn-outline-default waves-effect btn-sm col-3 col-sm-2">위치</a>
        </div>
        {% endautoescape %}

    </div>
    <script>
        var searchInfo = encodeURI("/?text={{ content.locationName }}")
        console.log(searchInfo);
        document.getElementById("{{ content.id }}").setAttribute("href", searchInfo)
    </script> 

    {% empty %}

        <p class="text-center"> </p>

    {% endfor %}



{% endblock %}
