{% extends 'khmap/navbar_formap.html' %}
{% block content %}
{% load static %}

	<div id="map"></div>
	<script src="{% static 'khmap/js/map.js' %}" type="text/javascript"></script>
	<script>
	{% for locContent in contents %}
		markerIds.push({{ locContent.id }});

		var contentString = [
			'<div class="iw_inner iwCustom card">',
			'	<div class="card-body">',
			'		<h5 class="card-title"> <b> {{locContent.locationName}} </b> </h5>',
			'		<hr>',
			'		<p class="card-text"> {{locContent.locationText1}}<br>',
			'			{{locContent.locationText2}}<br>',
			'			{{locContent.locationText3}}<br>',
			'			{{locContent.locationText4}}<br>',
			'	</p>',
			'	</div>',
			'</div>'
		].join('');

		var position = new naver.maps.LatLng({{ locContent.locLat }}, {{ locContent.locLng }});

		var marker = new naver.maps.Marker({
			map: map,
			position: position,
			title: "{{ locContent.locationName }}",
			icon: {
				url: "{% static 'khmap/img/mk_r.svg' %}",
				// size: new naver.maps.Size(32, 32),
				origin: new naver.maps.Point(0, 0),
				anchor: new naver.maps.Point(16, 32)
				// path: [new naver.maps.Point(-6, 7), new naver.maps.Point(0, 15), new naver.maps.Point(6, 7),new naver.maps.Point(8, 0), new naver.maps.Point(5, -7), new naver.maps.Point(0,-9), new naver.maps.Point(-5, -7), new naver.maps.Point(-8, 0)],
				// style: "closedPath",
				// // radius: '7',
				// fillColor: '#17a2b8',
				// fillOpacity: 0.7,
				// anchor: new naver.maps.Point(6, 15),
				// strokeColor: '#17a2b8',
				// strokeStyle: 'solid',
				// strokeWeight: 1
			}
		});
		marker.title = "{{ locContent.locationName }}"
		marker.id = "{{ locContent.locationName }}"

		var infowindow = new naver.maps.InfoWindow({
			content: contentString,

			maxWidth: 300,
			backgroundColor: "transparent",
			borderWidth: 0,
			anchorSize: new naver.maps.Size(10, 0),
			anchorSkew: false,
			pixelOffset: new naver.maps.Point(0, -10),
		});

		contentMarkers[{{ locContent.id }}] = marker;
		contentWindows[{{ locContent.id }}] = infowindow;



		{% endfor %}


		function getClickHandler(seq) {
			return function(e) {
				var marker = contentMarkers[seq],
					infoWindow = contentWindows[seq];

				if (infoWindow.getMap()) {
					infoWindow.close();
				} else {
					infoWindow.open(map, marker);
				}
			}
		};

		function closeInfoWindow(seq) {
			return function(e) {
				var infoWindow = contentWindows[seq];
				infoWindow.close();
			}
		};

		function showSearchInfo(seq) {
			var marker, contentWindow, prevURL;

				var marker = contentMarkers[seq],
					contentWindow  = contentWindows[seq];
				var prevURL = window.location.href.indexOf(encodeURI(marker.title));
				if (prevURL == -1) {
					contentWindow.close();
				} else {
					contentWindow.open(map, marker);
				}
		};

		for (var i = 0 ; i < markerIds.length; i++) {
			naver.maps.Event.addListener(contentMarkers[markerIds[i]], 'click', getClickHandler(markerIds[i]));
			naver.maps.Event.addListener(map, 'click', closeInfoWindow(markerIds[i]));
			naver.maps.Event.addListener(map, 'idle', showSearchInfo(markerIds[i]));
		};
	</script>
	<div id="ad">
		History Map
	</div>
{% endblock %}