{% extends 'khmap/navbar_formap.html' %}
{% block content %}
	<div class="quizContent">
	<div class="question">
		<p> Q. 다음 설명에 해당하는 지역은? </p>
	</div>
	<div class="description">
		<p> {{ randomQuiz.locationText1 }} </p>
		<p> {{ randomQuiz.locationText2 }} </p>
		<p> {{ randomQuiz.locationText3 }} </p>
		<p> {{ randomQuiz.locationText4 }} </p>
	</div>
	<div class="options">
		<script>
			function Shuffle(o) {
				for(var j, x, i = o.length; i; j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
				return o;
			};
			var quizArray = ['{{ randomQuiz.locationName }}','{{ answerList.0.locationName }}','{{ answerList.1.locationName }}','{{ answerList.2.locationName }}'];
			Shuffle(quizArray);

			$(function() {
				for (var i=0; i < quizArray.length; i++) {
					$("#dump").append(quizArray[i]);	
				};
				let temp_option = '\
						<li class="list-group-item list-group-item-action" data-toggle="list" value="quizArray[0]">'+quizArray[0]+'</li>\
						<li class="list-group-item list-group-item-action" data-toggle="list" value="quizArray[1]">'+quizArray[1]+'</li>\
						<li class="list-group-item list-group-item-action" data-toggle="list" value="quizArray[2]">'+quizArray[2]+'</li>\
						<li class="list-group-item list-group-item-action" data-toggle="list" value="quizArray[3]">'+quizArray[3]+'</li>\
					';
				$('#optionList').append(temp_option);
			});
		</script>
		<ol class="list-group" id="optionList">
<!--  		<li class="list-group-item">① {{ answerList.0.locationName }}</li>
		<li class="list-group-item">② {{ randomQuiz.locationName }}</li>
		<li class="list-group-item">③ {{ answerList.1.locationName }}</li>
		<li class="list-group-item">④ {{ answerList.2.locationName }}</li> -->
		</ol>
		<script>
		$(document).ready(function() {
			$('li.list-group-item').click(function(){
				$('li.list-group-item').removeClass('active');
				$(this).addClass('active')
			});
		});
		</script>
	</div>
	<div class="answerCheck">
		<button type="button" class="btn btn-primary" onclick="answerCheck()">정답 확인</button>
		<a href="" type="button" id="nextQuiz" class="btn btn-success disabled" aria-disabled="true">다른 문제</a>
	</div>
		<script type="text/javascript">
			function answerCheck() {
				if ($('li.active').length == 0) {
					alert('정답을 선택해주세요');
				} else if ($('li.active').text()=='{{ randomQuiz.locationName }}') {
					alert('정답입니다');
					document.getElementById("nextQuiz").setAttribute("aria-disabled", "false");
					document.getElementById("nextQuiz").setAttribute("class", "btn btn-success");
					// $("#nextQuiz").removeClass("disalbed");
				} else {
					alert('오답입니다');
				}
			};
		</script>
</div>
{% endblock %}